/* slider.css */

.slider-container {
    width: 100%;
    max-width: 1519px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 30%; 
    z-index: 1;
}

.slider {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: slide-animation 30s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    max-width:100%;
    height: auto;
    overflow: hidden;
    
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* Keyframes para los efectos de sliding */
@keyframes slide-animation {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    53% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    86% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

/* Asegura q el slider no cubra el contenido */
.header, .content, .footer {
    position: relative;
    z-index: 2;
}
