@font-face { /*Esto agrega la fuente de texto de kebab*/
    font-family: 'fuenteKebab';
    src: url('fuente.woff') format('woff');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 0;
}

.container {
    display: flex;
    position: fixed;
    align-items: center;
    
    background-color: rgb(254 255 253 / 85%);
    color: #B93E3E;
    height: 90px;
    width: 100%;
    border-bottom: 2px solid;
}

.logo{
    max-height: 300px;
    max-width: 300px;
    margin-right: 40px;
    margin-left: 30px;
}

.logo img {
    max-width: 58.3px;
    max-height: 100px;    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza flexbox para alinear las opciones del menÃƒÆ’Ã‚Âº */
    margin-bottom: 0px;
    
}

nav ul li {
    margin-right: 20px;
    margin-left: 0px;
}

nav ul li a {
    color: #B93E3E;
    text-decoration: none;
    font-size: 18px;
    font-family: "Briem Hand", cursive;
    
}

nav ul li a:hover {
    color: #FEC671; /* Cambia el color al pasar el mouse por encima */
    text-decoration: underline;
}

.content {
    padding-top: 90px; /* AÃƒÆ’Ã‚Â±ade un relleno superior para compensar el menÃƒÆ’Ã‚Âº fijo */
}

.imagenDeInicio{
    height: 450px;
    width: 100%;
    overflow:hidden;
    
    
}
.imagenDeInicio img{
    width: 100%;
    height: 450px;
    max-width:100%;
    height:auto;
}

@media screen and (max-width: 540px) {
  nav {
    flex-direction: column;
  }

  nav ul li a{
    display: block;
    font-size: 15px;
  }
}

.contenidoMid{
    height: 300px;
    width: 100%;
    background-color: green;
}

.contenidoMid img{
    width: 60px;
    height: 60px;
}

.img1{
    margin-left:50px;
    align-items: center;
    align-content: center;
    
}

