
@font-face { /*Esto agrega la fuente de texto de kebab*/
    font-family: "fuenteKebab";
    src: url("../fonts/fuente.woff") format('woff');
}
@font-face { /*Esto agrega la fuente de texto de kebab*/
    font-family: 'sketsa';
    src: url('../fonts/sketsa.otf ');
}


/*-----------------------------------------------------------------------------------------------------------------------------------
                                                            GENERAL
------------------------------------------------------------------------------------------------------------------------------------*/


body {
    font-family: Arial, sans-serif;
    margin: 0;   
    position: relative;
    min-height: 150vh;
}



.content {
    padding-top: 90px; /* Añade un relleno superior para compensar el menu fijo */
}


/*-----------------------------------------------------------------------------------------------------------------------------------
                                                            NAV
------------------------------------------------------------------------------------------------------------------------------------*/


.container {
    display: flex;
    position: fixed; /* Mantener el menú fijo en la parte superior */
    align-items: center;
    background-color: rgb(254 255 253 / 85%);
    color: #B93E3E;
    height: 90px;
    width: 100%;
    border-bottom: 2px solid;
    z-index: 1000; /* con esto aseguramos q el menú tenga un z-index alto */
}

.logo{
    max-height: 300px;
    max-width: 300px;
    margin-right: 40px;
    margin-left: 30px;
}

.logo img {
    max-width: 68.3px;
    max-height: 100px;    
}

nav {
    position: relative;
    z-index: 1000; /* Incrementa el z-index del menú */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza flexbox para alinear las opciones del menú */
    margin-bottom: 0px;
    
}

nav ul li {
    margin-right: 40px;
    margin-left: 0px;
}

nav ul li a {
    color: #B93E3E;
    text-decoration: none;
    font-size: 34px;
    font-family: "sketsa";
    
}

nav ul li a:hover {
    color: #FEC671; /* Cambia el color al pasar el cursor por encima */
    text-decoration: underline;
}


@media screen and (max-width: 640px) {
    nav {
      flex-direction: column;
    }
  
    nav ul li a{
      display: block;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 505px) {
    nav {
      flex-direction: column;
    }
  
    nav ul li a{
      display: block;
      font-size: 18px;
    }
    .logo{
        margin-right: 12px;
    }
  }
  @media screen and (max-width: 505px) {
    nav {
      flex-direction: column;
    }
  
    nav ul li a{
      display: block;
      font-size: 18px;
    }
    nav ul li{
        margin-right: 20px;
    }
    .logo{
        margin-right: 8px;
        margin-left: 8px;
    }
  }

/*-----------------------------------------------------------------------------------------------------------------------------------
                                                            BANNER
------------------------------------------------------------------------------------------------------------------------------------*/



.imagenDeInicio{
    
    width: 100%;
    overflow:hidden;
    
    
}
.imagenDeInicio img{
    width: 100%;
    height: 450px;
    max-width:100%;
    height:auto;
}


/*-----------------------------------------------------------------------------------------------------------------------------------
                                                            CARACTERISTICAS
------------------------------------------------------------------------------------------------------------------------------------*/


.caracteristicas {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Alinear elementos al principio (arriba) */
    padding: 30px 0; /* Reduce el relleno superior e inferior */
    background-color: #ffffff;
    border: 2px solid;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas en pantallas pequeñas */
}


.caracteristicas h3{
    font-family: "Unica One", sans-serif;
}
.caract {
    display: flex;
    flex-direction: column; /* Cambia la dirección del contenido a columna en pantallas pequeñas */
    align-items: center;
    width: 45%; /* Ancho del bloque de características en pantallas pequeñas */
    padding: 10px;
    margin-bottom: 20px; /* Espacio entre cada bloque de características */
}

.caract img {
    width: 100px; /* Tamaño de la imagen */
    height: 100px;
    margin-bottom: 10px; /* Espacio inferior entre la imagen y el texto */
}

.text {
    text-align: center; /* Centra el texto en pantallas pequeñas */
}

/* Estilos para los textos */
.text h3 {
    font-size: 18px;
    color: #333;
}

.text p {
    font-size: 19px;
    color: #666;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .caracteristicas {
        padding: 20px 0; /* Reducir el relleno superior e inferior en pantallas pequeñas */
    }

    .caract {
        width: 90%; /* Ancho completo en pantallas pequeñas */
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------
                                                            VALORACIONES
------------------------------------------------------------------------------------------------------------------------------------*/


.opiniones {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
}

.opiniones h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.valoracion {
    display: inline-block;
    margin-bottom: 30px;
}



.circulo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    border: 2px solid #000;
}

.reseñas {
    display: flex;
    justify-content: space-around;
}

.reseña {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    width: 30%;
}

.redes-sociales{
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.redes-sociales img {
    width: 50px;
    height: 50px;
    margin-inline: 10px;
}


@media screen and (max-width: 768px) {
    .reseñas {
        flex-direction: column;
        align-items: center;
    }

    .reseña {
        width: 80%;
        margin-bottom: 20px;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------
                                                            FOOTER
------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    background-color: aquamarine;
    width: 100%;
    position: absolute;
    bottom: 0;

}

.container-footer{
    display: flex;
    justify-content: space-between; /*Esto lo q hace es alinear los elementos del contenedor de forma q haya un espacio igual entre ellos,
    distribuye el espacio sobrante de manera uniforme entre los elementos*/
    
    flex-wrap: wrap; /*Basicamente q si no caben los elementos en una sola linea se ponen en forma de columna*/
}

.mapa{
    color: white;
    background-color: #B93E3E;
    padding: 10px;
    text-align: center;
}
.mapa p{
    font-size: medium;
}

.mapa iframe{
    width: 100%;
    height: 200px;
    border: none;
}

.copy{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-align: center;
    padding: 10px 0;
}

.copy p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
    
}

.horario{
    color: white;
    background-color: yellow;
    text-align: center;
}

.horario img{
    width: 100%;
    height: 100%;
}

.form{
    color: white;
    background-color: #B93E3E;
    text-align: center;
    padding: 10px;
}

.mapa, .horario, .form{
    flex: 1 1 322px;
    /*El primer 1 significa flex-grow: 1, que permite q el elemento crezca para ocupar todo el espacio disponible en el contenedor flex*/
    /*El segundo 1 significa flex-shrink: 1 que permite q el elemento se encoja si es necesario para evitar deformidades*/
    /*Y lo ultimo significa flex-basis: 300px q establece un tamaño base de 300pixeles para el elemento, es decir para el horario, el mapa y el formulario*/

    box-sizing: border-box;
    /*El box-sizing:border-box indica q el ancho y el alto declarados del contenedor incluyan el padding 
    y el borde, en lugar de ser adicionales a ellos*/

}













